.posts {
  display: flex;
  flex-wrap: wrap;
  margin: 20vh auto;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 80%;
}

@media only screen and (max-width: 520px) {
  .posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 60px auto;
    width: 100%;
  }
}
